@model Models.EquipmentModel

@{
    ViewBag.Title = "Details";
}

@{
    var imgSrc = "";
    if (Model.Image != null)
    {
        var base64 = Convert.ToBase64String(Model.Image);
        imgSrc = String.Format("data:image/gif;base64,{0}", base64);
    }
    else
    {
        imgSrc = null;
    }
}

<h2>Details</h2>

<div>
    <h4>EquipmentModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SerialNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SerialNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NextControlDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NextControlDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Image)
        </dt>

        <dd>
            <img src="@imgSrc" style="max-width:100px; max-height:100px" />
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
